@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root{
    --background-color: #e3e3e3;
    --border-size: 2px;
    --accent-color: #0af;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body
{
    height: 7000px;
}
.nav-cover-area
{
    background-image: url(images/CoverModelImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 930px;
}

.nav-items > span
{
    display: flex;
}

.btn
{
        padding: .5em .5em;
        border: none;
        outline: none;
        position: relative;
        cursor: pointer;
}

.btn.btn-border-underline::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;

    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before{
    transform: scaleX(1);
}


.nav-items > span > li
{
    list-style-type: none;
    margin-left: 90px;
}

.nav-items > span > li > a
{
    text-decoration: none;
    color: #c3c3c3;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-items > span > li > a:hover
{
    color: #f2f2f2;
}

.nav-items > span > i
{
    color: #c3c3c3;
    margin-right: 100px;
    font-size: 20px;
}

.nav-items
{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.cover-text 
{
    position: relative;
    margin-top: 270px;
    margin-left: 320px;
}

i#extra-right-icon 
{
    margin-right: 50px;
}

.change-self-text
{
    font-family: 'Alex Brush', cursive;
    font-size: 47px;
    line-height: 47px;
    color: #FBBAA1;
    font-weight: 400;
}

.perfect-text
{
    font-size: 92px;
    line-height: 92px;
    color: #ffffff;
    font-weight: 900;
}

p.cover-p-text 
{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #f2f2f2;
    padding-top: 15px;
}

.btn1
{
    background-color: #FBBAA1;
    font-size: 16px;
    line-height: 60px;
    color: white;
    font-weight: 600;
    padding: 0.2em 2.5em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}


.btn1.btn1-border-pop::before
{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: var(--border-size) solid #FBBAA1;
        transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn1.btn1-border-pop:hover::before,
.btn1.btn1-border-pop:focus::before{
        top: calc(var(--border-size) * -3);
        left: calc(var(--border-size) * -3);
        right: calc(var(--border-size) * -3);
        bottom: calc(var(--border-size) * -3);
}

.btn2
{
    position: relative;
    padding: 0.2em 3em;
    margin-top: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0.2em 2.5em;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    margin-left: 20px;
    background: #312b2b00;
}

.btn2.btn2-background-slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn2.btn2-background-slide:hover::before,
.btn2.btn2-background-slide:focus::before{
    transform: scaleX(1);
    z-index: -1;
}

.btn2.btn2-background-slide{
    z-index: 1;
}

.btn2.btn2-background-slide:hover,
.btn2.btn2-background-slide:focus {
    color: white;
}